.border-parrafo {
    border: 1px solid black;
    margin-top: 2px;
    padding: 25px;
}
.display1 {display: inline-block;
           text-align: center;
           width: calc(50% - 2px);
           border: 2px solid green;
           vertical-align: top;
           box-sizing: border-box;
           padding-bottom: 55px
}
.display2 {display: inline-block;
            text-align: center;
            width: calc(50% - 2px);
            border: 2px solid red;
            vertical-align: bottom;
            box-sizing: border-box;
}
.bordes {border: 10px solid pink;
        width: 150px;
        height: 150px;
        border-radius: 100px;
        text-align: center;
        line-height: 150px;
        background-color: lightblue;
        font-size: 28px;



}